
<div class="row">
  <div class="col s2 m12">
    <a href="/logout" class="waves-effect waves-light btn">&nbsp;logout&nbsp;<i class="material-icons">exit_to_app</i></a>
  </div> 
</div>

<div class="row">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">face</i>Local</div>
      <div class="collapsible-body container">
      <div class="row">
          <div class="col s10 pull-s2">
            {{#if user.local.username}}
              <p>
                Username:&nbsp;{{user.local.email}}<br>
                Password:&nbsp;{{user.local.password}}<br>  
              </p>            
            {{else}}
              <blockquote>You have not yet local signup</blockquote>
            {{/if}}
     
         </div>
      </div>
      <div class="row">
        {{#if user.local.username}}
          <div class="col s6 offset-s6"><a href="/unlink/local" class="waves-effect waves-light btn">unlink</a></div>
        {{else}}
          <div class="col s6 offset-s6"><a href="/connect/local" class="waves-effect waves-light btn">Connect local</a></div>        
        {{/if}}
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi mdi-facebook" style="color:#6d84b4;"></i>facebook</div>
      
      <div class="collapsible-body container">
        {{#if user.facebook.token}}
          <div class="row">
          <div class="col s10 pull-s2">
            <p>
            Username:{{user.facebook.firstName}}{{user.facebook.lastName}}<br>
            Email:{{user.facebook.email}}<br>  
            Facebook Id:{{user.facebook.id}}<br>
            Token:{{user.facebook.token}}<br>
            </p>     
          </div>
        </div>
        <div class="row">
             <div class="col s6 offset-s6"><a href="/unlink/facebook" class="waves-effect waves-light btn">unlink</a></div>
        </div>        
       {{else}}
        <div class="row">
             <div class="col s6 offset-s6"><a href="/connect/facebook" class="waves-effect waves-light btn">Connect facebook</a></div>
        </div>    
       {{/if}}
      </div><!--end collapsible-body -->
      
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi mdi-google" style="color:#db4437;"></i>google</div>
      <div class="collapsible-body container">
      {{#if user.google.token}}
         <div class="row">
          <div class="col s10 pull-s2">
            <p>
            Username:{{user.google.firstName}}{{user.google.lastName}}<br>
            Email:{{user.google.email}}<br>  
            Facebook Id:{{user.google.id}}<br>
            Token:{{user.google.token}}<br>
            </p>     
          </div>
        </div>
        <div class="row">
           <div class="col s2 pull-s10"><a href="/unlink/google" class="waves-effect waves-light btn">unlink</a></div>
        </div>        
      {{else}}
        <div class="row">
           <div class="col s2 pull-s10"><a href="/connect/google" class="waves-effect waves-light btn">connect google</a></div>
        </div>
      {{/if}}  
      </div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons" style="color:#1798c1;">cloud</i>salesforce.com</div>
      <div class="collapsible-body container">
       {{#if user.salesforce.token}}
         <div class="row">
          <div class="col s10 pull-s2">
            <p>
            Username:{{user.salesforce.firstName}}{{user.salesforce.lastName}}<br>
            Email:{{user.salesforce.email}}<br>  
            salesforce Id:{{user.salesforce.id}}<br>
            Token:{{user.salesforce.token}}<br>
            </p>     
          </div>
        </div>
        <div class="row">
           <div class="col s2 pull-s10"><a href="/unlink/salesforce" class="waves-effect waves-light btn">unlink</a></div>
        </div>        
      {{else}}
        <div class="row">
           <div class="col s2 pull-s10"><a href="/connect/salesforce" class="waves-effect waves-light btn">connect salesforce</a></div>
        </div>
      {{/if}}       
      </div>
    </li>
        <li>
      <div class="collapsible-header"><i class="mdi mdi-twitter" style="color:#4099FF;"></i>twitter</div>
      <div class="collapsible-body container">
      {{#if user.twitter.token}}
         <div class="row">
          <div class="col s10 pull-s2">
            <p>
            Username:{{user.twitter.name}}<br>
            Email:{{user.twitter.email}}<br>  
            Twitter Id:{{user.twitter.id}}<br>
            Token:{{user.twitter.token}}<br>
            </p>     
          </div>
        </div>
        <div class="row">
           <div class="col s2 pull-s10"><a href="/unlink/twitter" class="waves-effect waves-light btn">unlink</a></div>
        </div>        
      {{else}}
        <div class="row">
           <div class="col s2 pull-s10"><a href="/connect/twitter" class="waves-effect waves-light btn">connect twitter</a></div>
        </div>
      {{/if}}          
      </div>
    </li>
  </ul>
</div>
